<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3 style="color: blueviolet">Register</h3>
      <form #form="ngForm" (ngSubmit)="onSub(form)">
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="Your Id Number *"
            name="idNumber"
            [(ngModel)]="idNumber"
            required
            #idNumberField="ngModel"
            [disabled]="step1Submitted"
          />
        </div>
        <div
          *ngIf="
            idNumberField.invalid &&
            (idNumberField.dirty || idNumberField.touched)
          "
          class="alert"
        >
          <div *ngIf="idNumberField.errors?.['required']">
            Id Number is required.
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Your Email *"
            name="email"
            [(ngModel)]="email"
            required
            pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
            #emailField="ngModel"
            [disabled]="step1Submitted"
          />
        </div>
        <div
          *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)"
          class="alert"
        >
          <div *ngIf="emailField.errors?.['required']">Email is required.</div>
          <div *ngIf="emailField.errors?.['pattern']">
            Please enter a valid email.
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Your Password *"
            name="password"
            [(ngModel)]="password"
            required
            #passwordField="ngModel"
            [disabled]="step1Submitted"
          />
        </div>
        <div
          *ngIf="
            passwordField.invalid &&
            (passwordField.dirty || passwordField.touched)
          "
          class="alert"
        >
          <div *ngIf="passwordField.errors?.['required']">
            Password is required.
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password *"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            [pattern]="password"
            #confirmPasswordField="ngModel"
            required
            [disabled]="step1Submitted"
          />
        </div>
        <div
          *ngIf="
            confirmPasswordField.invalid &&
            (confirmPasswordField.dirty || confirmPasswordField.touched)
          "
          class="alert"
        >
          <div *ngIf="confirmPasswordField.errors?.['required']">
            Confirm Password is required.
          </div>
          <div *ngIf="confirmPasswordField.errors?.['pattern']">
            Passwords do not match.
          </div>
        </div>
        <div *ngIf="step === 1">
          <div class="form-group">
            <input type="submit" class="btnSubmit" value="Next" />
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="step === 1" class="col-md-6 login-form-2">
      <h3>Register</h3>
      <form #form2="ngForm" (ngSubmit)="onSub2(form2)">
        <div class="form-group">
          <select
            class="form-control"
            id="city"
            [(ngModel)]="city"
            name="city"
            required
            #cityField="ngModel"
          >
            <option [value]="null" disabled selected>Your City *</option>
            <option *ngFor="let cityName of cityNames" [value]="cityName">
              {{ cityName }}
            </option>
          </select>
        </div>
        <div
          *ngIf="cityField.invalid && (cityField.dirty || cityField.touched)"
          class="alert"
        >
          <div *ngIf="cityField.errors?.['required']">City is required.</div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Your Street *"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Your Name *"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Your Last Name *"
            value=""
          />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Register" />
        </div>
      </form>
    </div>
  </div>
</div>
