@font-face {
  font-family: "SatisfactoryTopline";
  src: url("../../../assets/fonts/SatisfactoryTopline-1GAPZ.otf")
    format("opentype");
}

.logo {
  display: inline;
  font-family: SatisfactoryTopline;
  font-size: 3.5rem;
  position: absolute;
  top: 2.2rem;
}

.purple {
  color: blueviolet;
}
