<div *ngIf="loggedIn" class="center">
  <mat-card class="custom-card">
    <mat-card-content>
      <p class="start">Start Shopping / Continue Shopping</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-fab color="primary">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="center" *ngIf="!loggedIn">
  <h1 style="color: blueviolet">Login</h1>
  <br />
  <form [formGroup]="loginForm" (ngSubmit)="onSub()">
    <!-- Email input -->
    <mat-form-field class="input">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        type="email"
        placeholder="email@example.com"
        formControlName="email"
      />
      <mat-error
        *ngIf="
          loginForm.controls.email.invalid && loginForm.controls.email.touched
        "
      >
        {{ getEmailErrorMessage() }}
      </mat-error>
    </mat-form-field>
    <!-- Password input -->
    <mat-form-field class="input">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error
        *ngIf="
          loginForm.controls.password.invalid &&
          loginForm.controls.password.touched
        "
      >
        {{ getPasswordErrorMessage() }}
      </mat-error>
    </mat-form-field>
    <!-- Submit button -->
    <button mat-raised-button color="primary">Login</button>
    <br />
    <br />
    <!-- Register buttons -->
    <div class="text-center">
      <p class="purple">
        Not a member? <a routerLink="register" style="color: white">Register</a>
      </p>
    </div>
  </form>
</div>
