<div class="centerForm">
  <h1 style="color: blueviolet">Login</h1>
  <br />
  <form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text" id="form2Example1" class="form-control" />
      <label class="form-label purple" for="form2Example1">User Name</label>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" />
      <label class="form-label purple" for="form2Example2">Password</label>
    </div>
    <!-- Submit button -->
    <button type="button" class="btn btn-outline-success btn-block mb-4 purple">
      Sign in
    </button>
    <!-- Register buttons -->
    <div class="text-center">
      <p class="purple">
        Not a member? <a routerLink="register" style="color: white">Register</a>
      </p>
    </div>
  </form>
</div>
