<div class="centerForm" *ngIf="!loggedIn">
  <h1 style="color: blueviolet">Login</h1>
  <br />
  <form>
    <!-- Email input -->
    <mat-form-field class="input">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        [formControl]="email"
        type="email"
        placeholder="email@example.com"
      />
      <mat-error *ngIf="email.invalid && email.touched">
        {{ getEmailErrorMessage() }}
      </mat-error>
    </mat-form-field>
    <!-- Password input -->
    <mat-form-field class="input">
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControl]="password" />
      <mat-error *ngIf="password.invalid && password.touched">
        {{ getPasswordErrorMessage() }}
      </mat-error>
    </mat-form-field>
    <!-- Submit button -->
    <button mat-raised-button color="primary">Login</button>
    <br />
    <br />
    <!-- Register buttons -->
    <div class="text-center">
      <p class="purple">
        Not a member? <a routerLink="register" style="color: white">Register</a>
      </p>
    </div>
  </form>
</div>
