.centerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.input {
  width: 100%;
}

form {
  width: 80%;
}

.purple {
  color: blueviolet;
}

mat-error {
  font-size: 0.8rem;
  margin-left: -1rem;
}
