<!-- Modal -->
<div
  #sessionModal
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title black" id="staticBackdropLabel">
          Your session has expired.
        </h5>
      </div>
      <div class="modal-body black">
        Please login again if you wish to continue or logout.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Logout
        </button>
        <button type="button" class="btn btn-primary" (click)="onClick()">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
